.beer {
    &__title {
        text-align: center;
        color: #fff;
        font-size: 45px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        background: linear-gradient(#686666, #3d3d3d);
        padding: 20px;
    }
    &__name {
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__style {
        color: #c5c5c5;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__button {
        width: 100px;
        height: 50px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background: #1891e2;
        color: #fff;
    }
}