.header {
    width: 100%;
    padding: 30px 70px;
    background-color: #e9a14f;
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        &:hover {
            color: #fff;
            transition: 0.3s all;
        }
    }
}